/* Estilo Base */
body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: #f9f9f9;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    min-width: 320px;
}

h2 {
    color: #FFA500;
    border-bottom: 2px solid #FFA500;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

label {
    color: #f9f9f9;
    margin-top: 20px;
    margin-bottom: 5px;
}

input[type="number"], input[type="range"] {
    display: block;
    width: calc(100% - 40px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    background: #444;
    border: 1px solid #555;
    color: #fff;
    border-radius: 5px;
}

input[type="range"] {
    background: #444; /* Fundo do slider */
    outline: none; /* Remove a linha de foco */
}

input[type="number"]::placeholder, input[type="range"]::placeholder {
    color: #ccc;
}

button {
    cursor: pointer;
    background-color: #ffa500;
    color: #333;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.1s ease;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px; /* Margem superior adicionada */
}

button:hover {
    background-color: #ff8c00;
    color: #fff;
}

button:active {
    transform: scale(0.98);
}

div {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 360px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    color: #FFA500;
}

h3 {
    margin-top: 20px;
    color: #FFA500;
}

/* Responsividade */
@media (min-width: 768px) {
    div {
        max-width: 480px;
    }
}

@media (min-width: 1024px) {
    div {
        max-width: 600px;
    }
    body {
        padding: 40px;
    }
}

@media (max-width: 767px) {
    div {
        padding: 15px;
    }
}
